h6{
    font-size:0.6rem;
}
body{
    margin:10rem;
}
.footer {
  font-size: 2rem;
  text-align: center;
}

.footer_link {
  text-decoration: none;
  color: #b86d6d;
}
.footer_link:hover {
  color: #f1b8b8;
  transform: translateX(3);
}